body {
  font-family: 'Proxima-Nova';
  font-size: 14px;
  font-weight: 400;
  color: $color-text;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

.subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 1.7;
}

.btn {
  border-width: 1px;
  border-color: rgb(158, 156, 147);
  border-style: dashed;
  background-color: rgba(86, 83, 76, 0.529);
  width: 198px;
  height: 48px;
  border-radius: 3px;
  padding: 15px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Alegreya';
  font-weight: 700;
  line-height: 1.7;
  transition: all 0.4s;
  &:hover {
    background-color: rgba(86, 83, 76, 0.9);
  }
}

.section-title {
  font-family: 'Alegreya';
  font-weight: 700;
  font-size: 48px;
  color: $color-text;
  line-height: 0.625;
}

.section-subtitle {
  font-family: 'Alegreya';
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2.14;
  color: #a47d5e;
}