@font-face {
font-family: 'Proxima-Nova';
src: url('../fonts/ProximaNova-Regular.woff'),
      url('../fonts/ProximaNova-Regular.woff2');
src:local('0'),
      url('../fonts/ProximaNova-Regular.woff'),
      url('../fonts/ProximaNova-Regular.woff2');
font-display: swap;
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'Alegreya';
src: url('../fonts/Alegreya-Bold.woff'),
      url('../fonts/Alegreya-Bold.woff2');
src:local('0'),
      url('../fonts/Alegreya-Bold.woff'),
      url('../fonts/Alegreya-Bold.woff2');
font-display: swap;
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: 'Alegreya';
src: url('../fonts/Alegreya-Regular.woff'),
      url('../fonts/Alegreya-Regular.woff2');
src:local('0'),
      url('../fonts/Alegreya-Regular.woff'),
      url('../fonts/Alegreya-Regular.woff2');
font-display: swap;
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'PlayFair-Display';
src: url('../fonts/PlayfairDisplay-Bold.woff'),
      url('../fonts/PlayfairDisplay-Bold.woff2');
src:local('0'),
      url('../fonts/PlayfairDisplay-Bold.woff'),
      url('../fonts/PlayfairDisplay-Bold.woff2');
font-display: swap;
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: 'Scriptina';
src: url('../fonts/scriptina.woff'),
      url('../fonts/scriptina.woff2');
src:local('0'),
      url('../fonts/scriptina.woff'),
      url('../fonts/scriptina.woff2');
font-display: swap;
font-weight: 400;
font-style: normal;
}















