@import '../../reset-styles';
@import './fonts';
@import './vars';
@import './common';

/* ---burger button variables--- */
:root {
  --toggler-box-width: 2rem;
  --toggler-box-height: 1.4rem;
  --icon-menu-line-height: 4px;
}

/*----------- HEADER ---------*/

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image:
    image-set(url('../images/header_bg_shadow.webp'),
      url('../images/header_bg_shadow.png')),
    image-set(url('../images/header_bg-img.webp'),
      url('../images/header_bg-img.jpg')),
  ;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px 5px #00000090;
}

.header-top {
  background-color: rgba(86, 83, 76, 0.529);
  padding: 10px 0 5px;
}

.header-top__inner {
  display: flex;
  gap: 5px 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {}

.logo-img {}

.nav {
  padding-top: 7px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-item {
  position: relative;
}

.nav-item + .nav-item {
  padding-left: 40px;
}

.nav-item:has(+ .nav-item) {
  padding-right: 44px;
  &::after {
    content: "~";
    position: absolute;
    right: 0;
    top: 8px;
    color: $color-white;
  }
}

.nav-link {
  font-family: 'Alegreya';
  line-height: 1.7;
  letter-spacing: 4px;
  color: $color-white;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-white;
    transition: all 0.4s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

.social-box {
  align-self: center;
}

.social-box--mobile {
  display: none;
}

.social-list {
  display: flex;
  gap: 5px;
}

.social-item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;

  &:hover {
    background-color: rgb(239, 235, 228);
  }

  &:hover .social-link__icon {
    fill: #000;
  }
}

.social-link__icon {
  width: 16px;
  height: 16px;
  transition: all 0.4s;
}

.social-box--desctop {}


/* ----------------- */


.menu-toggler-btn {
  display: none;
  border: none;
  align-self: center;
  background-color: transparent;
  width: var(--toggler-box-width);
  height: var(--toggler-box-height);
  position: relative;
  z-index: 5;
}

.icon-menu__line {
  position: absolute;
  height: var(--icon-menu-line-height);
  border-radius: var(--icon-menu-line-height);
  width: 100%;
  left: 0;
  background-color: $color-white;
  transition: all 0.35s ease;
}

.line-1 {
  top: 0;
}

.line-2,
.line-3 {
  top: calc(50% - var(--icon-menu-line-height) / 2);
}

.line-4 {
  bottom: 0;
}

.menu-toggler-btn.active :is(.line-1, .line-4) {
  background-color: transparent;
}

.menu-toggler-btn.active .line-2 {
  transform: rotate(45deg);
}

.menu-toggler-btn.active .line-3 {
  transform: rotate(-45deg);
}

body:has(.menu-toggler-btn.active) {
  overflow: hidden;
}

/*-------------- HEADER CONTENT ------*/

.header__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
}

.header__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'PlayFair-Display';
  font-weight: 700;
  font-size: clamp(48px, 2.093rem + 4.54vw, 92px);
  letter-spacing: 6px;
  text-align: center;
  margin-bottom: clamp(70px, 3.241rem + 5.67vw, 125px);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: clamp(-45px, -5.306rem + 3.09vw, -75px);
    transform: translateX(-50%);
    width: 192px;
    height: 14px;
    background-image: url("../images/header-title-decor.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
}

.header__subtitle {
  margin-bottom: clamp(35px, 1.466rem + 3.61vw, 70px);
  max-width: 580px;
  letter-spacing: 2.25px;
}

.header__btn {}

.header__decor-img-box {
  position: absolute;
  width: 106px;
  height: 106px;
  bottom: -53px;
  left: 50%;
  transform: translateX(-50%);

  &::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

}

.header__decor-img {
  display: block;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}

/*----------- CAKES ----------*/

.cakes {
  background-color: #fefdfb;
}

.cakes__inner {
  padding: 110px 0 90px;
  display: flex;
}

.cakes__item {
  max-width: 50%;
  flex: 1;
}

.cakes__content {
  padding: 0 clamp(15px, -10.365rem + 19.44vw, 85px);
  text-align: center;
}

.cakes__title {
  margin-bottom: 11px;
  letter-spacing: 1px;
}

.cakes__subtitle {
  margin-bottom: clamp(25px, -3.281rem + 8.33vw, 55px);
  letter-spacing: 1.4px;
}

.text {
  line-height: 1.714;
  letter-spacing: 1px;
}

.cakes__text {
  margin-bottom: 35px;
}

.chef {
  font-family: 'Alegreya';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: clamp(20px, -1.979rem + 5.56vw, 40px);
}

.cakes__chief-box {
  width: 77%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 40px;
  margin-left: 10px;
  padding: 0 20px;
}

.chief-naming {
  display: inline-block;
  padding: 18px 16px;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  font-family: 'Alegreya';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 1px;
}

.chief-name {}

.chef-photo {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.chief-sername {}

.chief-quote {
  font-family: 'Scriptina';
  font-size: 24px;
  line-height: 1.25;
  color: #a47d5e;
  max-width: 300px;
  margin: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -50px;
    top: -15px;
    width: 23px;
    height: 14px;
    background-image: url("../images/quote-start.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    right: -50px;
    bottom: -15px;
    width: 23px;
    height: 14px;
    background-image: url("../images/quote-end.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.cakes__img-box {
  aspect-ratio: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: image-set(url('../images/cakes-img-all.webp'),
      url('../images/cakes-img-all.png'));
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cakes__slogan {
  max-width: 150px;
  margin-top: 15px;
  font-family: 'Alegreya';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: #c9b176;
  text-transform: uppercase;
  text-align: center;
}

/*-------- PANCAKES -----------*/

.pancakes {
  background-image: image-set(url('../images/pancakes-bg.webp'),
      url('../images/pancakes-bg.jpg'));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pancakes__inner {
  padding: 140px 0 100px;
}

.pancakes__box {
  display: flex;
  max-width: 965px;
}

.pancakes-slider-big {
  max-width: 420px;
  width: 100%;
  flex: 1;
}

.pancakes-big-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.pancakes-big-slider__item {
  position: relative;
}

.pancakes-big-slider__img {
  aspect-ratio: 0.82;
}

.rating-box {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rating-star {}

.rating-star-empty {}

.pancakes__content {
  max-width: 545px;
  width: 100%;
  flex: 1;
  position: relative;
  background-color: #fff;
  background-image: image-set(url('../images/pancakes-content-bg.webp'),
      url('../images/pancakes-content-bg.png'));
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 85px 60px 35px;
}

.pancakes__title {
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.pancakes__subtitle {
  margin-bottom: 55px;
  letter-spacing: 0.1em;
}

.pancakes__text {
  margin-bottom: 100px;
}

.pancakes-slider-small {}

.small-slider {
  position: relative;
  padding: 0 40px;
}

.small-slider__item {}

.small-slider__img {
  display: block;
  margin: 0 auto;
}

.small-slider .small-slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  width: 32px;
  height: 32px;
  border: 3px solid;
  border-color: #76736e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 0.4s;

  &:hover {
    color: #dbc1ab;
    border-color: #dbc1ab;
  }
}

.small-slider .small-alider-prev {
  left: 0;
}

.small-slider .small-slider-next {
  right: 0;
}

.pancakes__tip {
  position: absolute;
  top: -45px;
  right: -100px;
  height: 200px;
  width: 200px;
  padding: 30px 20px;
  text-align: center;
  font-family: 'Alegreya';
  font-weight: 700;
  background-image: image-set(url('../images/pancakes-tip-bg.webp'),
      url('../images/pancakes-tip-bg.jpg'));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -10px 10px 20px #00000045;
}

.pancakes__ready {
  font-size: 18px;
  line-height: 1.67;
  text-transform: uppercase;
  color: #a47d5e;
  margin-bottom: 40px;
}

.pancakes__ready-time {
  font-size: 92px;
  line-height: 0.32;
  color: #dfc691;
  margin-bottom: 18px;
}

.pancakes__timing {
  font-size: 18px;
  line-height: 1.67;
  color: #979285;
}

/*-------BREAKFAST ---------*/

.breakfast {
  display: none;
  background-image: image-set(url('../images/breakfast-bg.webp'),
      url('../images/breakfast-bg.jpg'));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 440px;
    height: 355px;
    background-image: image-set(
      url('../images/breakfast-box-decor.webp'),
      url('../images/breakfast-box-decor.png')
    );
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right bottom 50%;
  }
}

.breakfast__inner {
  display: flex;
  padding: 85px 0 70px;
}

.breakfast__item {
  width: 50%;
  flex: 1;
  text-align: center;
}

.breakfast_info {
  padding-top: 13px;
  padding-right: 10px;
}

.breakfast__title {
  color: $color-white;
  margin-bottom: 5px;
  letter-spacing: 3px;
  font-size: 60px;
}

.breakfast__subtitle {
  font-size: 18px;
  color: $color-gold-light;
  margin-bottom: 40px;
}

.breakfast__menu-list {
  width: 70%;
  margin: auto;
}

.breakfast__menu-item {
  padding: 10px 0;
  position: relative;
  letter-spacing: 1px;
  margin-bottom: 35px;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px #c9b176;
  }

  &:has(+ li) {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -38px;
      transform: translateX(-50%);
      width: 95px;
      height: 30px;
      background-image: image-set(url('../images/breakfast-menu-decor.webp'),
          url('../images/breakfast-menu-decor.png'));
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.breakfast__menu-item-title {
  font-family: 'Alegreya';
  font-weight: 700;
  font-size: 30px;
  color: $color-white;
  line-height: 1;
}

.breakfast__menu-item-description {
  font-family: 'Alegreya';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.714;
  color: #979285;
  margin-bottom: 20px;
}

.breakfast__menu-item-price {
  font-family: 'Alegreya';
  font-weight: 400;
  font-size: 36px;
  line-height: 0.83;
  color: $color-gold-light;
}

.menu-card {
  padding: 15px;
  font-family: 'Alegreya';
  font-weight: 700;
  color: $color-text;
  background-image: image-set(
    url('../images/card-bg.webp'),
    url('../images/card-bg.png'));
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 45px;
      height: 45px;
      background-image: image-set(
        url('../images/card-corner.webp'),
        url('../images/card-corner.png')
      );
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: left -2px bottom -5px;
      z-index: 5;
  }
}

.decor-border {
  border: 2px dashed #a47d5e;
  border-bottom-left-radius: 10px;
}

.menu-card__est-date-box {
  position: relative;
  width: 70%;
  margin: 35px auto 32% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 130%;
    transform: translateX(-50%);
    width: 370px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#dp-slider .dp_item:first-child .menu-card__est-date-box {
  &::after {
      background-image: image-set(
        url('../images/menu-card-decor-1.webp'),
      url('../images/menu-card-decor-1.png'));
  }
}

#dp-slider .dp_item[data-class="2"] .menu-card__est-date-box {
  &::after {
      background-image: image-set(
        url('../images/menu-card-decor-2.webp'),
      url('../images/menu-card-decor-2.png'));
  }
}

#dp-slider .dp_item[data-class="3"] .menu-card__est-date-box {
  &::after {
      background-image: image-set(
        url('../images/menu-card-decor-2.webp'),
      url('../images/menu-card-decor-2.png'));
  }
}

.est-date__item {
  font-size: 14px;
  line-height: 1.714;
  text-transform: uppercase;
}

.menu-card__title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 1px;
}

.menu-card__surtitle {
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 7%;
  letter-spacing: 1px;
}

.menu-card__description {
  max-width: 340px;
  margin: auto;
  font-size: 14px;
  line-height: 2.14;
  margin-bottom: 11%;
}

.menu-card__btn {
  width: 190px;
  height: 50px;
  margin: 0 auto 12% auto;
  border-width: 1px;
  border-color: rgb(158, 156, 147);
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 18px;
  font-family: "Alegreya";
  color: rgb(164, 125, 94);
  font-weight: 700;
  line-height: 1.667;
  text-align: center;  
  text-transform: uppercase;
  transition: all 0.4s;
  @media (any-hover: hover) {
    &:hover {
      color: $color-white;
      background-color: rgb(164, 125, 94);;
    }
  }
}

/*----BREAKFAST SLIDER ---------*/

#slider {
  margin-left: 135px;
}

.dp-wrap {
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  height: 100%;
}

.dp-slider {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.dp-slider div {
  transform-style: preserve-3d;
}

.dp_item {
  display: block;
  position: absolute;
  text-align: center;
  width: 90%;
  align-items: center;
  overflow: hidden;
  transition: transform 1.2s;
}

#dp-slider .dp_item:first-child {
  z-index: 10 !important;
  transform: rotateY(0deg) translateX(0px) !important;
}

.dp_item[data-position="2"] {
  z-index: 9;
  transform: rotateY(0deg) translateX(10%) scale(0.9);
}

.dp_item[data-position="3"] {
  z-index: 8;
  transform: rotateY(0deg) translateX(20%) scale(0.8);
}

.dp-content {
  text-align: center;
  display: inline-block;
  width: 100%;
}

#dp-slider .dp_item:hover:not(:first-child) {
  cursor: pointer;
}

/*--------------------------*/

/*----------- JIBARITO ----------------------*/

.jibarito {
  display: none;
  background-color: #f3f1e9;
}

.jibarito__inner {
  padding: 100px 0 50px 0;
  text-align: center;
  position: relative;
  &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 700px;
      height: 135px;
      background-image: image-set(
        url('../images/jibarito-decor.webp'),
        url('../images/jibarito-decor.png')
      );
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
}

.jibarito__title {
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  letter-spacing: 1px;
}

.jibarito__subtitle {
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}

.jibarito__content {
  margin-top: -25px;
  display: flex;
  align-items: center;
}

.jibarito__content-item {
  flex: 1;
}

.jibarito__ingredients {
  font-family: 'Alegreya';
  max-width: 420px;
  padding-right: 130px;
}

.jibarito__ingredients-item {
  margin-bottom: 55px;
  padding-top: 10px;
  text-align: center;
}

.jibarito__ingredients-img {
  display: block;
  width: 119px;
  height: 119px;
  margin: auto;
  border-radius: 50%;
}

.jibarito__ingredients-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color: #979285;
}

.jibarito__ingredients-description {

}

.jibarito__picture {
  position: relative;
}

.jibarito__picture-box {
}
.jibarito__picture-img {
  margin-top: -40px;
}

.jibarito__picture-properties {
  position: absolute;
  width: 23%;
  height: 112%;
  right: 14px;
  top: -14%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: 'Alegreya';
  font-weight: 700;
}

.jibarito__picture-property {
  background-color: rgba(255,255,255,0.8);
  padding: 45px 15px;
  text-align: center;
  &:not(:has(+ .jibarito__picture-property)) {
    background: url(../images/jibarito-ready-in-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 15px;
    & .jibarito__picture-property-title {
      letter-spacing: 1px;
      margin-bottom: 25px;
    }
    & .jibarito__picture-property-timing-value {
      font-size: 90px;
      color: $color-gold-light;
      margin-bottom: 30px;
    }
  }
}

.jibarito__picture-property-title {
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 20px;
  color: #a47d5e;
  text-transform: uppercase;
}

.jibarito__picture-property-timing-value {
  margin-bottom: 15px;
  font-size: 60px;
  line-height: 0.5;
  letter-spacing: 5px;
}

.jibarito__picture-property-timing {
  font-size: 18px;
  color: #979285;
}

.jibarito__picture-button {
  position: absolute;
  left: -20px;
  bottom: -16px;
  width: 170px;
  height: 55px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed $color-gold-light;
  background-color: $color-white;
  font-family: 'Alegreya';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  color: $color-gold-light;
  text-transform: uppercase;
  transition: all 0.4s;
  @media (any-hover: hover) {
    &:hover {
      background-color: #c9b176;
      color: $color-white;
      border-color: $color-white;
    }
  }
}


/*---------- FOOTER -----------*/

.footer {
  display: none;
  background-color: #f3f1e9;
  padding: 15px 0 70px;
}

.footer__inner {
}

.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}

.footer__logo {
  margin-top: 15px;
}

.footer__nav-list {
  color: #56534c;
  background-color: #efece1;
  flex:1;
  max-width: 525px;
  padding: 20px;
  border-radius: 30px;
  justify-content: center;
  position: relative;

  &::before, &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 2px;
      background-color: #bfbbb7;

  }

  &::before {
    top: -5px;
  }

  &::after {
    bottom: -5px;
  }
}

.footer__nav-item {
  padding-right: 0;
   &:has(+ .footer__nav-item) {
    padding-right: 50px;
  }

  &:has(+ .footer__nav-item)::after {
    color: #56534c;
  }
}

.footer__nav-link {
  color: #56534c;
  &::after {
    background-color: #56534c;
  }
}

/*------------ MEDIA --------*/

@media screen and (max-width: 1100px) {
  .nav-item {
    & + .nav-item {
      padding-left: 18px;
    }
    &.nav-item:has(+ .nav-item) {
      padding-right: 20px;
    }
  }

  .pancakes__box {
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
  }

  .pancakes-slider-big {
    max-width: 545px;
  }

 
}

@media screen and (max-width: 930px) {
  .social-box--desctop {
    width: 100%;
    & .social-list {
      justify-content: flex-end;
    }
  }

  .cakes__inner {
    flex-direction: column;
    gap: 65px;
    padding-bottom: 50px;
  }

  .cakes__item {
    max-width: 100%;
  }

  .cakes__chief-box {
    margin: 0 auto 40px auto;
  }

    
}

@media screen and (max-width: 785px) {

  .header-top {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .menu-toggler-btn, 
  .social-box--mobile {
    display: block;
  }

  .social-box--desctop {
    display: none;
  }

  .nav {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #f3f1e9;
    text-align: center;
    transition: left 0.5s;
    z-index: 2;
  }

  .nav__list {
    width: 80%;
    margin: 50px auto;
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
    padding: 20px;
    transition: all 0.4s;
    
    &::after {
      display: none;
    }
    
    &:hover {
      background-color: #56534c;  
      & .nav-link {
        color: $color-white;
      }
    }
    
  }

  .nav-link {
    color: #56534c;
  }

  .social-link__icon {
    fill: #56534c;
  }

  .nav.active {
    left: 0%;
  }

  .social-box--mobile {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    border-top: 1px solid #979285;
  }

  .social-list {
    justify-content: center;
  }

  .social-item:hover {
    background-color: #56534c;
    & .social-link__icon {
      fill: $color-white;
    }
  }

  
  .pancakes__tip {
    width: 145px;
    height: 145px;
    right: 100px;
    top: -90px;
    padding: 10px 20px;
  }

  .pancakes__ready {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .cakes__chief-box {
    gap: 5px;
  }

  .chief-quote::before {
    left: -5px;
  }
  
  .chief-quote::after {
    right: -5px;
  }

  .pancakes__content {
    padding: 85px 15px 35px;
  }

  .pancakes__text {
    margin-bottom: 50px;
  }
}